*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right,#2411ed,#d30e98);
}
nav{
    width: 80%;
    position: sticky;
    z-index: 1;
    margin: 17px auto;
    display: flax;
    align-items: center;
   
}
.nlogo{
    flex-basis: 20%;

}
.nlogo img{
    width: 200px;
}
.li-navnk{
    flex: 1;
    text-align: right;
}
.li-navnk ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.li-navnk ul li a{
    color: #fff;
    text-decoration: none;
  
}
.infomation{
    width: 700px;
    height: 750px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
  
}
#circle{
    width: 900px;
    height: 900px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1s;
  
 
}
.feature img{
    width: 70px;
}
.feature{
    position: absolute;
    display: flex;
    color:#fff;
    
}

.one{
    top: 400px;
    right: 2px;

}
.tow{
    top: 120px;
    left: 300px;
    transform: rotate(-90deg);
}
.tree{
    bottom: 400px;
    left: 4px;
    transform: rotate(-180deg);
}
.for{
    bottom: 100px;
    right: 340px;
    transform: rotate(-270deg);
}
.mobile{
    width: 250px;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
.control{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.control h3{
    margin: 15px 0;
    color: #fff;
}

.overlay{
    width: 0;
    height: 0;
    border-top: 400px solid #fff;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #fff;
    border-left: 500px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
